@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.politica-inversion-container {
  .politica-inversion-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
  }

  .politica-inversion-table {
    margin-left: 0 !important;
  }
}