.actions-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  .btn-edit {
    background-color: #38444c;
    margin: 1em;

    &:hover {
      background-color: #38447f;
    }
  }
}

.cuenta-perdidas-ganancias-tables-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.table-container {
  margin: 2em auto;
  overflow: auto;
  padding: 1em;
  height: fit-content;

  .composed-item {
    font-weight: 700;
    padding-left: 2em !important;
  }
}

@media(min-width: 768px) {
  .actions-container {
    display: block !important;
    margin: 1em 0 0 3em !important;
  }

  .cuenta-perdidas-ganancias-tables-container {
    flex-direction: row;
  }

  .table-container {
    width: 40vw;
  }

}