.introduction-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  margin-top: 3em;

  .introduction-moto {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .main-moto {
      font-weight: 700;
      font-size: 2rem;
      width: 30vw;
      letter-spacing: 1px;
      color: #2c3352;
    }

    .description {
      font-weight: 600;
      color: #a3a4a9;
    }

    .register-button {
      padding: .7em .8em .8em .8em;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      box-shadow: 0 .2em .5rem .2rem #e0e0e0;
      transition: 300ms all;
      width: fit-content;

      &:hover {
        cursor: pointer;
        box-shadow: 0 .2em .5rem .2rem darkgray;
      }
    }
  }
}