@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.estrategia-mercado-container {
  .estrategia-mercado-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
  }

  .estrategia-mercado-table {
    margin-left: 0 !important;
  }
}