@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.cuenta-perdidas-ganancias-container {
  .cuenta-perdidas-ganancias-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
  }

  .cuenta-perdidas-ganancias-table {
    margin-left: 0 !important;
  }
}