@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.balance-container {
  .balance-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
  }

  .balance-table {
    margin-left: 0 !important;

    .balance-tables-container {
      display: flex;
      flex-direction: column;
      gap: 3em;

    }

    @media(min-width: 768px) {
      .balance-tables-container {
        flex-direction: row;
      }

    }

  }
}