@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.profile-main-title {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.section-container {
  display: flex;
  gap: 3em;
  justify-content: center;
  flex-direction: column;
}

.profile-user-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 1em;

  .profile-card-information {
    padding: 1em 2em;
    display: flex;
    gap: 3em;
    flex-direction: column;
    overflow-wrap: break-word;
  }

  .profile-card-title {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    margin: .75em;
  }

  .profile-user-avatar {
    height: 10em;
    width: auto;

  }
}

.profile-company-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 1em;

  .profile-card-information {
    padding: 1em 2em;
    display: flex;
    gap: 3em;
    flex-direction: column;
    overflow-wrap: break-word;
  }

  .profile-card-title {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    margin: .75em;
  }

}

.profile-company-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media(min-width: 768px) {

  .section-container {
    flex-direction: row;
  }

  .profile-user-container {
    width: 45%;
  }

  .profile-card-information {
    flex-direction: row !important;
  }

  .profile-company-container {
    width: 45%;
  }

  .profile-card-information {
    flex-direction: row !important;
  }
}