.actions-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  .btn-edit {
    background-color: #38444c;
    margin: 1em;

    &:hover {
      background-color: #38447f;
    }
  }
}