@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.welcome-header-container {
  height: 75vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .getting-started {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;

    .getting-started-title {
      font-weight: 600;
      font-size: 5rem;
      font-family: 'Kanit', sans-serif;

    }

    .getting-started-actions {
      display: flex;
      gap: 3em;

      .btn {
        padding: .7em;
        width: fit-content;
        border-radius: 5px;
        transition: 300ms all;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          background-color: #38444c;
          color: #fff;
        }
      }

      #btn-info {
        background-color: #38444c;
        color: #fff;
      }
    }

  }

}